@{
    ViewData["Title"] = "Inicio";
}


<h1>Index</h1>

<p>
    <a asp-action="">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ejemplo
            </th>
            <th>
                ejemplo
            </th>
            <th>
                ejemplo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

